# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

## Access

In [1]:
%pip install git+https://github.com/jr919cam/jr919_ads_2024 # TODO: change to your library
%pip install osmnx
%pip install pymysql
%pip install config
%pip install ipython-sql

Collecting git+https://github.com/jr919cam/jr919_ads_2024
  Cloning https://github.com/jr919cam/jr919_ads_2024 to /tmp/pip-req-build-u9kvfbcs
  Running command git clone --filter=blob:none --quiet https://github.com/jr919cam/jr919_ads_2024 /tmp/pip-req-build-u9kvfbcs
  Resolved https://github.com/jr919cam/jr919_ads_2024 to commit 3f603397d472f41bf7e8170a78c957afe60464c8
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.26.4)
Collecting jupyter (from fynesse==0.1.0)
  Downloading jupyter-1.1.1-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (3.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.5.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (5.5.6)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.7.1)
Collecting jupyterlab (from jupyter->fynesse==0.1.0)
  Downloading jupyterlab-4.3.1-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (4.55.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.34.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.6.10)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.18.0)
Collecting async-lru>=1.0.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading async_lru-2.0.4-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Collecting ipykernel (from jupyter->fynesse==0.1.0)
  Downloading ipykernel-6.29.5-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (5.7.2)
Collecting jupyter-lsp>=2.0.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_lsp-2.2.5-py3-none-any.whl.metadata (1.8 kB)
Collecting jupyter-server<3,>=2.4.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_server-2.14.2-py3-none-any.whl.metadata (8.4 kB)
Collecting jupyterlab-server<3,>=2.27.1 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyterlab_server-2.27.3-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: notebook-shim>=0.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (75.1.0)
Requirement already satisfied: tomli>=1.2.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.1.0)
Collecting comm>=0.1.1 (from ipykernel->jupyter->fynesse==0.1.0)
  Downloading comm-0.2.2-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (24.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.1.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.12.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.7)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Collecting jedi>=0.16 (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (4.9.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core->jupyterlab->jupyter->fynesse==0.1.0) (4.3.6)
Collecting jupyter-client (from jupyter-console->jupyter->fynesse==0.1.0)
  Downloading jupyter_client-7.4.9-py3-none-any.whl.metadata (8.5 kB)
Collecting jupyter-events>=0.9.0 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_events-0.10.0-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting overrides>=5.0 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from jupyter-client->jupyter-console->jupyter->fynesse==0.1.0) (0.4)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Collecting json5>=0.9.0 (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading json5-0.9.28-py3-none-any.whl.metadata (32 kB)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading python_json_logger-2.0.7-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Collecting rfc3339-validator (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (2.22)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.11.1)
Collecting arrow>=0.15.0 (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Collecting types-python-dateutil>=2.8.10 (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading types_python_dateutil-2.9.0.20241003-py3-none-any.whl.metadata (1.9 kB)
Downloading jupyter-1.1.1-py2.py3-none-any.whl (2.7 kB)
Downloading jupyterlab-4.3.1-py3-none-any.whl (11.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 82.7 MB/s eta 0:00:00
Downloading ipykernel-6.29.5-py3-none-any.whl (117 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.2/117.2 kB 8.8 MB/s eta 0:00:00
Downloading async_lru-2.0.4-py3-none-any.whl (6.1 kB)
Downloading comm-0.2.2-py3-none-any.whl (7.2 kB)
Downloading jupyter_lsp-2.2.5-py3-none-any.whl (69 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.1/69.1 kB 5.4 MB/s eta 0:00:00
Downloading jupyter_server-2.14.2-py3-none-any.whl (383 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 383.6/383.6 kB 23.5 MB/s eta 0:00:00
Downloading jupyter_client-7.4.9-py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.5/133.5 kB 9.2 MB/s eta 0:00:00
Downloading jupyterlab_server-2.27.3-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.7/59.7 kB 4.1 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 57.9 MB/s eta 0:00:00
Downloading json5-0.9.28-py3-none-any.whl (30 kB)
Downloading jupyter_events-0.10.0-py3-none-any.whl (18 kB)
Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl (13 kB)
Downloading overrides-7.7.0-py3-none-any.whl (17 kB)
Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Downloading fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Downloading isoduration-20.11.0-py3-none-any.whl (11 kB)
Downloading uri_template-1.3.0-py3-none-any.whl (11 kB)
Downloading arrow-1.3.0-py3-none-any.whl (66 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 5.0 MB/s eta 0:00:00
Downloading types_python_dateutil-2.9.0.20241003-py3-none-any.whl (9.7 kB)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py) ... done
  Created wheel for fynesse: filename=fynesse-0.1.0-py3-none-any.whl size=8294 sha256=99d5d51c0bb433696f43585c07a4eded46104335a4fa41d575e7658b749575d3
  Stored in directory: /tmp/pip-ephem-wheel-cache-0oqeqr8p/wheels/87/d3/95/5c16a4e3b8ff95c99434405a7d1d435488a7504324f01b1911

In [2]:
import pandas as pd
import numpy as np
import osmnx as ox
import yaml

import fynesse
import prettytable
prettytable.DEFAULT = prettytable.MSWORD_FRIENDLY

<ipython-input-2-9e572a9f4656>:8: DeprecationWarning: the 'MSWORD_FRIENDLY' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.DEFAULT = prettytable.MSWORD_FRIENDLY

### 1.1
I have downloaded two datasets from the UK census data.
The mandatory NS SEC dataset (2021) and the Highest level of qualification (2021). I believe that the second downloaded dataset will provide useful data applicable to predicting the number of full time students in an area.

I have also downloaded the coordinates for the boundaries of the census output areas (2021).

Calls to OSM will be made using the osmnx library installed above.

### 1.2
I will begin by uploading the downloaded data into their own relational database tables constructed with appropriate schemas and keys.

In [3]:
with open("credentials.yaml") as file:
  credentials = yaml.safe_load(file)
  username = credentials["username"]
  password = credentials["password"]
  url = credentials["url"]
  port = credentials["port"]

In [4]:
%load_ext sql

In [5]:
%sql mariadb+pymysql://$username:$password@$url?local_infile=1
%sql SHOW databases

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
7 rows affected.

[('ads_2024',),
 ('information_schema',),
 ('innodb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('tmp',)]

#### Census NS SEC dataset

Create the appropriate schema with primary key for the NS SEC dataset

In [22]:
%%sql
USE `ads_2024`;
DROP TABLE IF EXISTS `ns_sec_data_raw`;
CREATE TABLE IF NOT EXISTS `ns_sec_data_raw` (
  id INT AUTO_INCREMENT PRIMARY KEY,
  area_code VARCHAR(255) NOT NULL,
  area_name VARCHAR(255) NOT NULL,
  nssec_code INT NOT NULL,
  nssec_classification VARCHAR(255) NOT NULL,
  observation INT NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;
SHOW tables

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.

[('ns_sec_data_raw',),
 ('postcode_data',),
 ('pp_data',),
 ('prices_coordinate_data_cam_20_24',),
 ('prices_coordinates_data',)]

Upload the CSV data into the table

In [26]:
%%sql
use `ads_2024`;
LOAD DATA LOCAL INFILE '/content/TS062-2021-5-filtered-2024-11-25T00_56_03Z.csv'
INTO TABLE ns_sec_data_raw
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(area_code, area_name, nssec_code, nssec_classification, observation);

SELECT * FROM ns_sec_data_raw LIMIT 5

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
1888800 rows affected.
5 rows affected.

[(327676, 'E00000001', 'E00000001', -8, 'Does not apply', 15),
 (327677, 'E00000001', 'E00000001', 1, 'L1, L2 and L3: Higher managerial, administrative and professional occupations', 80),
 (327678, 'E00000001', 'E00000001', 2, 'L4, L5 and L6: Lower managerial, administrative and professional occupations', 38),
 (327679, 'E00000001', 'E00000001', 3, 'L7: Intermediate occupations', 13),
 (327680, 'E00000001', 'E00000001', 4, 'L8 and L9: Small employers and own account workers', 9)]

Data may be easier to use when comparing different areas by storing all classification counts into different columns so that there is one row per area code.

In [27]:
%%sql
CREATE TABLE grouped_ns_sec_data AS
SELECT
    id,
    area_code,
    area_name,
    SUM(CASE WHEN nssec_code = '-1' THEN observation ELSE 0 END) AS does_not_apply,
    SUM(CASE WHEN nssec_code = '1' THEN observation ELSE 0 END) AS 	L1_L2_L3,
    SUM(CASE WHEN nssec_code = '2' THEN observation ELSE 0 END) AS 	L4_L5_L6,
    SUM(CASE WHEN nssec_code = '3' THEN observation ELSE 0 END) AS L7,
    SUM(CASE WHEN nssec_code = '4' THEN observation ELSE 0 END) AS L8_L9,
    SUM(CASE WHEN nssec_code = '5' THEN observation ELSE 0 END) AS L10_L11,
    SUM(CASE WHEN nssec_code = '6' THEN observation ELSE 0 END) AS L12,
    SUM(CASE WHEN nssec_code = '7' THEN observation ELSE 0 END) AS L13,
    SUM(CASE WHEN nssec_code = '8' THEN observation ELSE 0 END) AS L14,
    SUM(CASE WHEN nssec_code = '9' THEN observation ELSE 0 END) AS L15
FROM
    ns_sec_data_raw
GROUP BY
    area_code;
SELECT * FROM grouped_ns_sec_data limit 10;

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.
10 rows affected.

[(327676, 'E00000001', 'E00000001', Decimal('0'), Decimal('80'), Decimal('38'), Decimal('13'), Decimal('9'), Decimal('3'), Decimal('5'), Decimal('5'), Decimal('4'), Decimal('2')),
 (327686, 'E00000003', 'E00000003', Decimal('0'), Decimal('96'), Decimal('58'), Decimal('8'), Decimal('26'), Decimal('2'), Decimal('5'), Decimal('2'), Decimal('5'), Decimal('20')),
 (327696, 'E00000005', 'E00000005', Decimal('0'), Decimal('37'), Decimal('28'), Decimal('8'), Decimal('21'), Decimal('0'), Decimal('3'), Decimal('1'), Decimal('1'), Decimal('4')),
 (327706, 'E00000007', 'E00000007', Decimal('0'), Decimal('62'), Decimal('39'), Decimal('5'), Decimal('11'), Decimal('3'), Decimal('3'), Decimal('1'), Decimal('6'), Decimal('10')),
 (327716, 'E00000010', 'E00000010', Decimal('0'), Decimal('34'), Decimal('45'), Decimal('17'), Decimal('27'), Decimal('7'), Decimal('10'), Decimal('14'), Decimal('11'), Decimal('5')),
 (327726, 'E00000013', 'E00000013', Decimal('0'), Decimal('106'), Decimal('75'), Decimal('15'), Decimal('14'), Decimal('0'), Decimal('6'), Decimal('2'), Decimal('4'), Decimal('8')),
 (327736, 'E00000018', 'E00000018', Decimal('0'), Decimal('101'), Decimal('72'), Decimal('10'), Decimal('16'), Decimal('1'), Decimal('6'), Decimal('6'), Decimal('11'), Decimal('6')),
 (327746, 'E00000019', 'E00000019', Decimal('0'), Decimal('180'), Decimal('82'), Decimal('12'), Decimal('29'), Decimal('0'), Decimal('3'), Decimal('1'), Decimal('7'), Decimal('38')),
 (327756, 'E00000020', 'E00000020', Decimal('0'), Decimal('99'), Decimal('50'), Decimal('9'), Decimal('9'), Decimal('3'), Decimal('1'), Decimal('2'), Decimal('7'), Decimal('9')),
 (327766, 'E00000021', 'E00000021', Decimal('0'), Decimal('167'), Decimal('82'), Decimal('20'), Decimal('29'), Decimal('1'), Decimal('4'), Decimal('1'), Decimal('8'), Decimal('22'))]

#### Census Highest level of qualification

Create the appropriate schema with primary key for the  Highest level of qualification by household composition dataset

In [31]:
%%sql
USE `ads_2024`;
DROP TABLE IF EXISTS `qualification_data_raw`;
CREATE TABLE IF NOT EXISTS qualification_data_raw (
    id INT AUTO_INCREMENT PRIMARY KEY,
    area_code VARCHAR(255) NOT NULL,
    area_name VARCHAR(255) NOT NULL,
    qualification_code INT NOT NULL,
    qualification_category VARCHAR(255) NOT NULL,
    observation INT NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;
SHOW tables

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
7 rows affected.

[('grouped_ns_sec_data',),
 ('ns_sec_data_raw',),
 ('postcode_data',),
 ('pp_data',),
 ('prices_coordinate_data_cam_20_24',),
 ('prices_coordinates_data',),
 ('qualification_data_raw',)]

Upload the CSV data into the table

In [32]:
%%sql
LOAD DATA LOCAL INFILE '/content/TS067-2021-3-filtered-2024-11-25T01_01_09Z.csv'
INTO TABLE qualification_data_raw
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(area_code, area_name, qualification_code, qualification_category, observation);

SELECT * FROM qualification_data_raw LIMIT 5

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1511040 rows affected.
5 rows affected.

[(1, 'E00000001', 'E00000001', -8, 'Does not apply', 15),
 (2, 'E00000001', 'E00000001', 0, 'No qualifications', 4),
 (3, 'E00000001', 'E00000001', 1, 'Level 1 and entry level qualifications: 1 to 4 GCSEs grade A* to C, Any GCSEs at other grades, O levels or CSEs (any grades), 1 AS level, NVQ level 1, Foundation GNVQ, Basic or Essential Skills', 7),
 (4, 'E00000001', 'E00000001', 2, 'Level 2 qualifications: 5 or more GCSEs (A* to C or 9 to 4), O levels (passes), CSEs (grade 1), School Certification, 1 A level, 2 to 3 AS levels, VCEs, Intermediate or Higher Diploma, Welsh Baccalaureate Intermediate Diploma, NVQ level 2, Intermediate GN', 10),
 (5, 'E00000001', 'E00000001', 3, 'Apprenticeship', 1)]

In [33]:
%sql select * from qualification_data_raw limit 8;

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
8 rows affected.

[(1, 'E00000001', 'E00000001', -8, 'Does not apply', 15),
 (2, 'E00000001', 'E00000001', 0, 'No qualifications', 4),
 (3, 'E00000001', 'E00000001', 1, 'Level 1 and entry level qualifications: 1 to 4 GCSEs grade A* to C, Any GCSEs at other grades, O levels or CSEs (any grades), 1 AS level, NVQ level 1, Foundation GNVQ, Basic or Essential Skills', 7),
 (4, 'E00000001', 'E00000001', 2, 'Level 2 qualifications: 5 or more GCSEs (A* to C or 9 to 4), O levels (passes), CSEs (grade 1), School Certification, 1 A level, 2 to 3 AS levels, VCEs, Intermediate or Higher Diploma, Welsh Baccalaureate Intermediate Diploma, NVQ level 2, Intermediate GN', 10),
 (5, 'E00000001', 'E00000001', 3, 'Apprenticeship', 1),
 (6, 'E00000001', 'E00000001', 4, 'Level 3 qualifications: 2 or more A levels or VCEs, 4 or more AS levels, Higher School Certificate, Progression or Advanced Diploma, Welsh Baccalaureate Advance Diploma, NVQ level 3; Advanced GNVQ, City and Guilds Advanced Craft, ONC, OND, BTEC National, ', 11),
 (7, 'E00000001', 'E00000001', 5, 'Level 4 qualifications or above: degree (BA, BSc), higher degree (MA, PhD, PGCE), NVQ level 4 to 5, HNC, HND, RSA Higher Diploma, BTEC Higher level, professional qualifications (for example, teaching, nursing, accountancy)', 122),
 (8, 'E00000001', 'E00000001', 6, 'Other: vocational or work-related qualifications, other qualifications achieved in England or Wales, qualifications achieved outside England or Wales (equivalent not stated or unknown)', 5)]

repeat area code column collection which was performed on NS SEC dataset.

In [35]:
%%sql
CREATE TABLE grouped_qualification_data AS
SELECT
    id,
    area_code,
    area_name,
    SUM(CASE WHEN qualification_code = '-1' THEN observation ELSE 0 END) AS does_not_apply,
    SUM(CASE WHEN qualification_code = '0' THEN observation ELSE 0 END) AS 	no_qual,
    SUM(CASE WHEN qualification_code = '1' THEN observation ELSE 0 END) AS 	level_1_and_entry_level,
    SUM(CASE WHEN qualification_code = '2' THEN observation ELSE 0 END) AS level_2,
    SUM(CASE WHEN qualification_code = '3' THEN observation ELSE 0 END) AS apprenticeship,
    SUM(CASE WHEN qualification_code = '4' THEN observation ELSE 0 END) AS level_3,
    SUM(CASE WHEN qualification_code = '5' THEN observation ELSE 0 END) AS level_4_and_above,
    SUM(CASE WHEN qualification_code = '6' THEN observation ELSE 0 END) AS other
FROM
    qualification_data_raw
GROUP BY
    area_code;
SELECT * FROM grouped_qualification_data limit 10;

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.
10 rows affected.

[(1, 'E00000001', 'E00000001', Decimal('0'), Decimal('4'), Decimal('7'), Decimal('10'), Decimal('1'), Decimal('11'), Decimal('122'), Decimal('5')),
 (9, 'E00000003', 'E00000003', Decimal('0'), Decimal('5'), Decimal('3'), Decimal('8'), Decimal('1'), Decimal('20'), Decimal('184'), Decimal('0')),
 (17, 'E00000005', 'E00000005', Decimal('0'), Decimal('3'), Decimal('2'), Decimal('3'), Decimal('3'), Decimal('7'), Decimal('88'), Decimal('0')),
 (25, 'E00000007', 'E00000007', Decimal('0'), Decimal('5'), Decimal('2'), Decimal('5'), Decimal('1'), Decimal('7'), Decimal('117'), Decimal('2')),
 (33, 'E00000010', 'E00000010', Decimal('0'), Decimal('15'), Decimal('15'), Decimal('18'), Decimal('0'), Decimal('23'), Decimal('93'), Decimal('8')),
 (41, 'E00000013', 'E00000013', Decimal('0'), Decimal('4'), Decimal('4'), Decimal('7'), Decimal('0'), Decimal('12'), Decimal('203'), Decimal('0')),
 (49, 'E00000018', 'E00000018', Decimal('0'), Decimal('0'), Decimal('12'), Decimal('9'), Decimal('1'), Decimal('14'), Decimal('191'), Decimal('2')),
 (57, 'E00000019', 'E00000019', Decimal('0'), Decimal('6'), Decimal('4'), Decimal('10'), Decimal('1'), Decimal('27'), Decimal('295'), Decimal('7')),
 (65, 'E00000020', 'E00000020', Decimal('0'), Decimal('3'), Decimal('5'), Decimal('12'), Decimal('1'), Decimal('11'), Decimal('155'), Decimal('3')),
 (73, 'E00000021', 'E00000021', Decimal('0'), Decimal('9'), Decimal('7'), Decimal('12'), Decimal('0'), Decimal('26'), Decimal('278'), Decimal('1'))]

#### Geographic coordinates of Census Output Areas dataset

Repeat for geographic coords data.

In [36]:
%%sql
USE `ads_2024`;
DROP TABLE IF EXISTS `census_coords_data`;
CREATE TABLE IF NOT EXISTS census_coords_data (
    FID INT AUTO_INCREMENT PRIMARY KEY,
    OA21CD VARCHAR(255) NOT NULL,
    LSOA21CD VARCHAR(255) NOT NULL,
    LSOA21NM VARCHAR(255) NOT NULL,
    LSOA21NMW VARCHAR(255),
    BNG_E INT,
    BNG_N INT,
    LATITUDE DECIMAL(9,6),
    LONGITUDE DECIMAL(9,6),
    Shape__Area FLOAT,
    Shape__Length FLOAT,
    GlobalID CHAR(36) NOT NULL UNIQUE
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;
SHOW tables

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
9 rows affected.

[('census_coords_data',),
 ('grouped_ns_sec_data',),
 ('grouped_qualification_data',),
 ('ns_sec_data_raw',),
 ('postcode_data',),
 ('pp_data',),
 ('prices_coordinate_data_cam_20_24',),
 ('prices_coordinates_data',),
 ('qualification_data_raw',)]

In [37]:
%%sql
LOAD DATA LOCAL INFILE '/content/Output_Areas_2021_EW_BGC_V2_4956293942276393417.csv'
INTO TABLE census_coords_data
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(FID, OA21CD, LSOA21CD, LSOA21NM, LSOA21NMW, BNG_E, BNG_N, LATITUDE, LONGITUDE, Shape__Area, Shape__Length, GlobalID);
SELECT * FROM census_coords_data LIMIT 5

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.
5 rows affected.

[(1, 'E00000001', 'E01000001', 'City of London 001A', ' ', 532250, 181864, Decimal('51.520220'), Decimal('-0.095230'), 6949.15, 421.166, '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed'),
 (2, 'E00000003', 'E01000001', 'City of London 001A', ' ', 532171, 181819, Decimal('51.519830'), Decimal('-0.096380'), 4492.41, 307.715, 'f1216dc8-14d1-4857-9230-cab0641758fb'),
 (3, 'E00000005', 'E01000001', 'City of London 001A', ' ', 532166, 181722, Decimal('51.518960'), Decimal('-0.096490'), 8565.51, 385.205, '44d6f70f-549c-4288-9b6d-de2adbf02582'),
 (4, 'E00000007', 'E01000001', 'City of London 001A', ' ', 532088, 181473, Decimal('51.516740'), Decimal('-0.097710'), 75994.8, 1408.61, '4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb'),
 (5, 'E00000010', 'E01000003', 'City of London 001C', ' ', 532092, 182114, Decimal('51.522500'), Decimal('-0.097410'), 2102.88, 215.272, '7476781f-8fe4-4c9b-bde1-0eecbd146dff')]

#### Indexes

In order for queries to run faster I will be adding indexes to relevant columns in the added tables.

To perform a join on any of the two tables, the area code must be used to match corresponding rows with each other. Therefore it makes sense to add an index to all 3 tables on their respective area codes.

In [43]:
%%sql
use `ads_2024`;
CREATE INDEX area_code_index_ns ON grouped_ns_sec_data (area_code);
CREATE INDEX area_code_index_ql ON grouped_qualification_data (area_code);
CREATE INDEX area_code_index_cc ON census_coords_data (OA21CD);

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

Using these new indexes, I can construct tables which contain the relevant coordinate information for both the NS SEC dataset and the qualification dataset. I will do this by performing joins on both datasets and the coordinate dataset and store them in a new table.

In [45]:
%%sql
DROP TABLE IF EXISTS grouped_ns_sec_and_coordinate_data;
CREATE TABLE grouped_ns_sec_and_coordinate_data AS
SELECT
  ns.*,
  cc.LSOA21NM as lower_layer_super_output_area_name,
  cc.LATITUDE as latitude,
  cc.LONGITUDE as longitude,
  cc.Shape__Area as shape_area,
  cc.Shape__Length as shape_length
FROM grouped_ns_sec_data as ns
INNER JOIN census_coords_data as cc
ON ns.area_code = cc.OA21CD;
select * from grouped_ns_sec_and_coordinate_data limit 7;

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
188880 rows affected.
7 rows affected.

[(327676, 'E00000001', 'E00000001', Decimal('0'), Decimal('80'), Decimal('38'), Decimal('13'), Decimal('9'), Decimal('3'), Decimal('5'), Decimal('5'), Decimal('4'), Decimal('2'), 'City of London 001A', Decimal('51.520220'), Decimal('-0.095230'), 6949.15, 421.166),
 (327686, 'E00000003', 'E00000003', Decimal('0'), Decimal('96'), Decimal('58'), Decimal('8'), Decimal('26'), Decimal('2'), Decimal('5'), Decimal('2'), Decimal('5'), Decimal('20'), 'City of London 001A', Decimal('51.519830'), Decimal('-0.096380'), 4492.41, 307.715),
 (327696, 'E00000005', 'E00000005', Decimal('0'), Decimal('37'), Decimal('28'), Decimal('8'), Decimal('21'), Decimal('0'), Decimal('3'), Decimal('1'), Decimal('1'), Decimal('4'), 'City of London 001A', Decimal('51.518960'), Decimal('-0.096490'), 8565.51, 385.205),
 (327706, 'E00000007', 'E00000007', Decimal('0'), Decimal('62'), Decimal('39'), Decimal('5'), Decimal('11'), Decimal('3'), Decimal('3'), Decimal('1'), Decimal('6'), Decimal('10'), 'City of London 001A', Decimal('51.516740'), Decimal('-0.097710'), 75994.8, 1408.61),
 (327716, 'E00000010', 'E00000010', Decimal('0'), Decimal('34'), Decimal('45'), Decimal('17'), Decimal('27'), Decimal('7'), Decimal('10'), Decimal('14'), Decimal('11'), Decimal('5'), 'City of London 001C', Decimal('51.522500'), Decimal('-0.097410'), 2102.88, 215.272),
 (327726, 'E00000013', 'E00000013', Decimal('0'), Decimal('106'), Decimal('75'), Decimal('15'), Decimal('14'), Decimal('0'), Decimal('6'), Decimal('2'), Decimal('4'), Decimal('8'), 'City of London 001C', Decimal('51.520790'), Decimal('-0.096250'), 8791.65, 459.736),
 (327736, 'E00000018', 'E00000018', Decimal('0'), Decimal('101'), Decimal('72'), Decimal('10'), Decimal('16'), Decimal('1'), Decimal('6'), Decimal('6'), Decimal('11'), Decimal('6'), 'City of London 001B', Decimal('51.519540'), Decimal('-0.093140'), 49464.2, 1123.87)]

In [46]:
%%sql
DROP TABLE IF EXISTS grouped_qualification_and_coordinate_data;
CREATE TABLE grouped_qualification_and_coordinate_data AS
SELECT
  ql.*,
  cc.LSOA21NM as lower_layer_super_output_area_name,
  cc.LATITUDE as latitude,
  cc.LONGITUDE as longitude,
  cc.Shape__Area as shape_area,
  cc.Shape__Length as shape_length
FROM grouped_qualification_data as ql
INNER JOIN census_coords_data as cc
ON ql.area_code = cc.OA21CD;
select * from grouped_qualification_and_coordinate_data limit 7;

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
188880 rows affected.
7 rows affected.

[(1, 'E00000001', 'E00000001', Decimal('0'), Decimal('4'), Decimal('7'), Decimal('10'), Decimal('1'), Decimal('11'), Decimal('122'), Decimal('5'), 'City of London 001A', Decimal('51.520220'), Decimal('-0.095230'), 6949.15, 421.166),
 (9, 'E00000003', 'E00000003', Decimal('0'), Decimal('5'), Decimal('3'), Decimal('8'), Decimal('1'), Decimal('20'), Decimal('184'), Decimal('0'), 'City of London 001A', Decimal('51.519830'), Decimal('-0.096380'), 4492.41, 307.715),
 (17, 'E00000005', 'E00000005', Decimal('0'), Decimal('3'), Decimal('2'), Decimal('3'), Decimal('3'), Decimal('7'), Decimal('88'), Decimal('0'), 'City of London 001A', Decimal('51.518960'), Decimal('-0.096490'), 8565.51, 385.205),
 (25, 'E00000007', 'E00000007', Decimal('0'), Decimal('5'), Decimal('2'), Decimal('5'), Decimal('1'), Decimal('7'), Decimal('117'), Decimal('2'), 'City of London 001A', Decimal('51.516740'), Decimal('-0.097710'), 75994.8, 1408.61),
 (33, 'E00000010', 'E00000010', Decimal('0'), Decimal('15'), Decimal('15'), Decimal('18'), Decimal('0'), Decimal('23'), Decimal('93'), Decimal('8'), 'City of London 001C', Decimal('51.522500'), Decimal('-0.097410'), 2102.88, 215.272),
 (41, 'E00000013', 'E00000013', Decimal('0'), Decimal('4'), Decimal('4'), Decimal('7'), Decimal('0'), Decimal('12'), Decimal('203'), Decimal('0'), 'City of London 001C', Decimal('51.520790'), Decimal('-0.096250'), 8791.65, 459.736),
 (49, 'E00000018', 'E00000018', Decimal('0'), Decimal('0'), Decimal('12'), Decimal('9'), Decimal('1'), Decimal('14'), Decimal('191'), Decimal('2'), 'City of London 001B', Decimal('51.519540'), Decimal('-0.093140'), 49464.2, 1123.87)]

Write a short paragraph summarising what you did in the Access stage.

## Assess

Write a short paragraph summarising what you did in the Assess stage.

In [12]:
# TODO: your answer here

## Address

In [13]:
def estimate_students(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    # TODO: implement
    return NotImplementedError


def estimate_something(latitude: float, longitude: float) -> float:
    #TODO: rename function
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated value, percentage, probability, etc
    """
    # TODO: implement
    return NotImplementedError

Write a short paragraph summarising what you did in the Address stage.

In [14]:
# TODO: your answer here

## Discussion

#### Story and structure

In [15]:
# Marks awarded for inline explanation and structure, no need for answers here. Go over your notebook to make sure you explain what you did and why.

#### Design decisions

In [16]:
# TODO: your answer here

#### Comparison

In [17]:
# TODO: your answer here

#### Reusability

In [18]:
# TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title and description

In [19]:
# TODO: title your miniproject

In [20]:
# TODO: provide a very brief description of the goals of your miniproject

## TODO: Your Project Goes Here

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [21]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
6 rows affected.

Table: ns_sec_data
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 0.0 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
+----+-----------+-----------+------------+----------------------+-------------+
| id | area_code | area_name | nssec_code | nssec_classification | observation |
+----+-----------+-----------+------------+----------------------+-------------+
+----+-----------+-----------+------------+----------------------+-------------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Indices:
 - PRIMARY (BTREE): Column id

Table: postcode_data
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 2.5 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
5 rows affected.
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
| postcode |   status   | usertype | easting | northing | positional_quality_indicator | country  |   latitude  |  longitude  | postcode_no_space | postcode_fixed_width_seven | postcode_fixed_width_eight | postcode_area | postcode_district | postcode_sector | outcode | incode | db_id |
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
| AB1 0AA  | terminated |  small   |  385386 |  801193  |              1               | Scotland | 57.10147400 | -2.24285100 |       AB10AA      |          AB1 0AA           |          AB1  0AA          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AA   |   0   |
| AB1 0AB  | terminated |  small   |  385177 |  801314  |              1               | Scotland | 57.10255400 | -2.24630800 |       AB10AB      |          AB1 0AB           |          AB1  0AB          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AB   |   0   |
| AB1 0AD  | terminated |  small   |  385053 |  801092  |              1               | Scotland | 57.10055600 | -2.24834200 |       AB10AD      |          AB1 0AD           |          AB1  0AD          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AD   |   0   |
| AB1 0AE  | terminated |  small   |  384600 |  799300  |              8               | Scotland | 57.08444400 | -2.25570800 |       AB10AE      |          AB1 0AE           |          AB1  0AE          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AE   |   0   |
| AB1 0AF  | terminated |  large   |  384460 |  800660  |              8               | Scotland | 57.09665600 | -2.25810200 |       AB10AF      |          AB1 0AF           |          AB1  0AF          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AF   |   0   |
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Indices:
 - idx_pd_postcode (BTREE): Column postcode

Table: pp_data
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 24.4 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
5 rows affected.
+----------------------------------------+-------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-----------------+-----------+-----------+----------------+----------------+-------------------+---------------+-------+
|     transaction_unique_identifier      | price | date_of_transfer | postcode | property_type | new_build_flag | tenure_type | primary_addressable_object_name | secondary_addressable_object_name |      street     |  locality | town_city |    district    |     county     | ppd_category_type | record_status | db_id |
+----------------------------------------+-------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-----------------+-----------+-----------+----------------+----------------+-------------------+---------------+-------+
| {B6F6A33A-B5BF-46FB-A2CD-BF5CDCD313E8} | 38000 |    1996-06-28    | PE10 9TP |       S       |       N        |      F      |               11A               |                                   |  WETHERBY CLOSE |   BOURNE  |   BOURNE  | SOUTH KESTEVEN |  LINCOLNSHIRE  |         A         |       A       |   1   |
| {D83DD2D0-12B4-41B0-A113-BF5CE28823C4} | 57000 |    1996-07-04    | LA2 6QQ  |       S       |       N        |      F      |                17               |                                   |    BEECH ROAD   |   HALTON  | LANCASTER |   LANCASTER    |   LANCASHIRE   |         A         |       A       |   2   |
| {05F4A2BD-7012-470D-AE2C-BF5CE477B766} | 65000 |    1996-03-25    |  E7 8EF  |       T       |       N        |      F      |                48               |                                   |  HENDERSON ROAD |   LONDON  |   LONDON  |     NEWHAM     | GREATER LONDON |         A         |       A       |   3   |
| {02F7B636-12CE-441D-9EC4-B8486513A3B2} | 53000 |    1996-12-16    | DE55 5JN |       D       |       Y        |      F      |               274               |                                   |  ALFRETON ROAD  | BLACKWELL |  ALFRETON |    BOLSOVER    |   DERBYSHIRE   |         A         |       A       |   4   |
| {48490694-5C4B-48B8-B240-C2E3CB522E23} | 56950 |    1996-04-26    | WF17 0EZ |       S       |       Y        |      F      |                29               |                                   | LANSDOWNE CLOSE |   BATLEY  |   BATLEY  |    KIRKLEES    | WEST YORKSHIRE |         A         |       A       |   5   |
+----------------------------------------+-------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-----------------+-----------+-----------+----------------+----------------+-------------------+---------------+-------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
3 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_pp_postcode (BTREE): Column postcode
 - idx_pp_date_transfer (BTREE): Column date_of_transfer

Table: prices_coordinate_data_cam_20_24
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 0.0 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
5 rows affected.
+---------+------------------+----------+---------------+----------------+-------------+----------+---------------------------------+-----------+-----------+----------------+---------+-----------+-----------+
|  price  | date_of_transfer | postcode | property_type | new_build_flag | tenure_type | locality | primary_addressable_object_name | town_city |  district |     county     | country |  latitude | longitude |
+---------+------------------+----------+---------------+----------------+-------------+----------+---------------------------------+-----------+-----------+----------------+---------+-----------+-----------+
|  450000 |    2021-01-14    | CB1 1BB  |       F       |       N        |      L      |          |       PETERSFIELD MANSIONS      | CAMBRIDGE | CAMBRIDGE | CAMBRIDGESHIRE | England | 52.202459 |  0.132752 |
|  515000 |    2021-06-07    | CB1 1BB  |       F       |       N        |      L      |          |       PETERSFIELD MANSIONS      | CAMBRIDGE | CAMBRIDGE | CAMBRIDGESHIRE | England | 52.202459 |  0.132752 |
|  280000 |    2021-11-25    | CB1 1BB  |       F       |       N        |      L      |          |       PETERSFIELD MANSIONS      | CAMBRIDGE | CAMBRIDGE | CAMBRIDGESHIRE | England | 52.202459 |  0.132752 |
|  460000 |    2022-01-14    | CB1 1BB  |       F       |       N        |      L      |          |       PETERSFIELD MANSIONS      | CAMBRIDGE | CAMBRIDGE | CAMBRIDGESHIRE | England | 52.202459 |  0.132752 |
| 1300000 |    2021-12-10    | CB1 1EE  |       T       |       N        |      F      |          |                51               | CAMBRIDGE | CAMBRIDGE | CAMBRIDGESHIRE | England | 52.203873 |  0.130127 |
+---------+------------------+----------+---------------+----------------+-------------+----------+---------------------------------+-----------+-----------+----------------+---------+-----------+-----------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

No indices set on this table.

Table: prices_coordinates_data
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 3.3 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
5 rows affected.
+--------+------------------+----------+---------------+----------------+-------------+----------+------------------+------------------+--------------------+---------+-------------+-------------+-------+
| price  | date_of_transfer | postcode | property_type | new_build_flag | tenure_type | locality |    town_city     |     district     |       county       | country |   latitude  |  longitude  | db_id |
+--------+------------------+----------+---------------+----------------+-------------+----------+------------------+------------------+--------------------+---------+-------------+-------------+-------+
| 370000 |    2024-01-01    | WR12 7FE |       T       |       N        |      F      |          |     BROADWAY     |     WYCHAVON     |   WORCESTERSHIRE   | England | 52.04243800 | -1.85757200 |   1   |
| 50000  |    2024-01-01    | TS17 6LJ |       T       |       N        |      F      | THORNABY | STOCKTON-ON-TEES | STOCKTON-ON-TEES |  STOCKTON-ON-TEES  | England | 54.55240100 | -1.30114300 |   2   |
| 485000 |    2024-01-01    | BR3 6QH  |       F       |       N        |      L      |          |    BECKENHAM     |     BROMLEY      |   GREATER LONDON   | England | 51.40061400 | -0.01854100 |   3   |
| 226000 |    2024-01-01    | BL9 9EZ  |       S       |       N        |      F      |          |       BURY       |       BURY       | GREATER MANCHESTER | England | 53.58415200 | -2.28348100 |   4   |
| 64000  |    2024-01-01    | NE29 7LT |       F       |       N        |      L      |          |  NORTH SHIELDS   |  NORTH TYNESIDE  |   TYNE AND WEAR    | England | 55.01156300 | -1.46931900 |   5   |
+--------+------------------+----------+---------------+----------------+-------------+----------+------------------+------------------+--------------------+---------+-------------+-------------+-------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
3 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_pc_data (BTREE): Column latitude
 - idx_pc_data (BTREE): Column longitude

Table: qualification_household_data
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Approx Row Count: 0.0 M
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
+----+-----------+-----------+--------------------+------------------------+----------------+--------------------+-------------+
| id | area_code | area_name | qualification_code | qualification_category | household_code | household_category | observation |
+----+-----------+-----------+--------------------+------------------------+----------------+--------------------+-------------+
+----+-----------+-----------+--------------------+------------------------+----------------+--------------------+-------------+
 * mariadb+pymysql://admin:***@database-ads-jr919-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

Indices:
 - PRIMARY (BTREE): Column id

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [22]:
fynesse_url = '<your-url-library-here>'

In [23]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")

FYNESSE STRUCTURE:
fynesse/
    assess.py
    address.py
    access.py
    __init__.py
    config.py
    defaults.yml
    __pycache__/
        __init__.cpython-310.pyc
        config.cpython-310.pyc
        assess.cpython-310.pyc
        access.cpython-310.pyc
        address.cpython-310.pyc
FILE CONTENTS
--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/assess.py ---

from .config import *

from . import access

"""These are the types of import we might expect in this file
import pandas
import bokeh
import seaborn
import matplotlib.pyplot as plt
import sklearn.decomposition as decomposition
import sklearn.feature_extraction"""

"""Place commands in this file to assess the data you have downloaded. How are missing values encoded, how are outliers encoded? What do columns represent, makes rure they are correctly labeled. How is the data indexed. Crete visualisation routines to assess the data (e.g. in bokeh). Ensure that date formats are correct and correctly timezoned."""


def data():
    """Load the data from access and ensure missing values are correctly encoded as well as indices correct, column names informative, date and times correctly formatted. Return a structured data structure such as a data frame."""
    df = access.data()
    raise NotImplementedError

def query(data):
    """Request user input for some aspect of the data."""
    raise NotImplementedError

def view(data):
    """Provide a view of the data that allows the user to verify some aspect of its quality."""
    raise NotImplementedError

def labelled(data):
    """Provide a labelled set of data ready for supervised learning."""
    raise NotImplementedError


def get_box(latitude, longitude):
  box_height = 0.018
  box_width = 0.029
  north = latitude + box_height/2
  south = latitude - box_height/2
  west = longitude - box_width/2
  east = longitude + box_width/2
  return north, south, west, east

def get_buildings_with_area(pois, has_full_address):
    if has_full_address:
      buildings_full_addr = pois[
        pois['building'].notna()
        & pois['addr:housenumber'].notna()
        & pois['addr:street'].notna()
        & pois['addr:postcode'].notna()
        & pois['addr:city'].notna()
        ]
      buildings_full_addr['area'] = buildings_full_addr.geometry.area
      return buildings_full_addr
    else:
      buildings_no_addr = pois[
          pois['building'].notna()
          & (
              pois['addr:housenumber'].isna()
              | pois['addr:street'].isna()
              | pois['addr:postcode'].isna()
              | pois['addr:city'].isna()
            )
            ]
      buildings_no_addr['area'] = buildings_no_addr.geometry.area
      return buildings_no_addr

def plotBuildings(latitude, longitude, place_name):
  tags = {
      "building": True,
      "addr:housenumber": True,
      "addr:street": True,
      "addr:postcode": True,
      "addr:city": True,
  }

  north, south, west, east = get_box(latitude, longitude)
  pois = ox.geometries_from_bbox(north, south, east, west, tags)
  graph = ox.graph_from_bbox(north, south, east, west)
  nodes, edges = ox.graph_to_gdfs(graph)
  area = ox.geocode_to_gdf(place_name)

  fig, ax = plt.subplots()

  area.plot(ax=ax, facecolor="white")

  # edges.plot(ax=ax, linewidth=1, edgecolor="dimgray")

  ax.set_xlim([west, east])
  ax.set_ylim([south, north])
  ax.set_xlabel("longitude")
  ax.set_ylabel("latitude")

  buildings_full_addr = get_buildings_with_area(pois, True)
  buildings_no_addr = get_buildings_with_area(pois, False)

  buildings_full_addr.plot(ax=ax, color="blue", alpha=0.7, markersize=10)
  buildings_no_addr.plot(ax=ax, color="grey", alpha=0.7, markersize=10)
  plt.tight_layout()

def get_pcd_joined_df(lat, long, postcode_start, conn):
  lat_km_in_degs = 0.009
  long_km_in_degs = 0.014

  query1 = "SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.primary_addressable_object_name ,pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude FROM"
  query2 = f" (SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, primary_addressable_object_name, town_city, district, county FROM pp_data WHERE date_of_transfer BETWEEN '2020-01-01' AND '2024-12-31' and postcode LIKE '{postcode_start}%') AS pp INNER JOIN"
  query3 = f" (SELECT * FROM postcode_data where latitude between {lat} - {lat_km_in_degs} and {lat} + {lat_km_in_degs} and longitude between {long} - {long_km_in_degs} and {long} + {long_km_in_degs} and postcode LIKE '{postcode_start}%') AS po"
  query4 = " ON pp.postcode = po.postcode "

  query = query1+query2+query3+query4
  return pd.read_sql_query(query, conn)

def get_merged_df(pp_buildings_df, pois):
  pp_buildings_df
  osm_buildings_df = pois[pois['building'].notna()]
  osm_buildings_df['area'] = osm_buildings_df.geometry.area
  merged_df = pd.merge(
      pp_buildings_df,
      osm_buildings_df,
      left_on=['primary_addressable_object_name', 'postcode'],
      right_on=['addr:housenumber', 'addr:postcode'],
      how='outer',
      indicator=True
  )
  unmatched_pp = merged_df[(merged_df['_merge'] == 'left_only')]
  unmatched_osm = merged_df[(merged_df['_merge'] == 'right_only') & (merged_df['addr:postcode'].notna())]
  both = merged_df[merged_df['_merge'] == 'both']
  print("\nnum matches:", len(both), "| num unmatched pp:", len(unmatched_pp), "| num unmatched osm:", len(unmatched_osm),'\n')
  return merged_df

--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/address.py ---

# This file contains code for suporting addressing questions in the data

"""# Here are some of the imports we might expect
import sklearn.model_selection  as ms
import sklearn.linear_model as lm
import sklearn.svm as svm
import sklearn.naive_bayes as naive_bayes
import sklearn.tree as tree

import GPy
import torch
import tensorflow as tf

# Or if it's a statistical analysis
import scipy.stats"""

"""Address a particular question that arises from the data"""



--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/access.py ---

from matplotlib import pyplot as plt
import pandas as pd
import pymysql
from config import *
import requests
import yaml
import csv
import osmnx as ox

"""These are the types of import we might expect in this file
import httplib2
import oauth2
import tables
import mongodb
import sqlite"""

# This file accesses the data

"""Place commands in this file to access the data electronically. Don't remove any missing values, or deal with outliers. Make sure you have legalities correct, both intellectual property and personal data privacy rights. Beyond the legal side also think about the ethical issues around this data. """

def data():
    """Read the data from the web or local file, returning structured format such as a data frame"""
    raise NotImplementedError

def hello_world():
    print("Hello from the data science library! (and Joel!)")

def download_price_paid_data(start_year, end_year):
    base_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com"
    # File name with placeholders
    file_name = "/pp-<year>-part<part>.csv"
    for year in range(start_year, end_year):
        print("Downloading data for year: " + str(year))
        for part in range(1,3):
            url = base_url + file_name.replace("<year>", str(year)).replace("<part>", str(part))
            response = requests.get(url)
            if response.status_code == 200:
                with open("." + file_name.replace("<year>", str(year)).replace("<part>", str(part)), "wb") as file:
                    file.write(response.content)

def create_connection(user, password, host, database, port=3306):
    """ Create a database connection to the MariaDB database
        specified by the host url and database name.
    :param user: username
    :param password: password
    :param host: host url
    :param database: database name
    :param port: port number
    :return: Connection object or None
    """
    conn = None
    try:
        conn = pymysql.connect(user=user,
                               passwd=password,
                               host=host,
                               port=port,
                               local_infile=1,
                               db=database
                               )
        print(f"Connection established!")
    except Exception as e:
        print(f"Error connecting to the MariaDB Server: {e}")
    return conn

def housing_upload_join_data(conn, year):
    start_date = str(year) + "-01-01"
    end_date = str(year) + "-12-31"

    cur = conn.cursor()
    print('Selecting data for year: ' + str(year))
    cur.execute(f'SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude FROM (SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county FROM pp_data WHERE date_of_transfer BETWEEN "' + start_date + '" AND "' + end_date + '") AS pp INNER JOIN postcode_data AS po ON pp.postcode = po.postcode')
    rows = cur.fetchall()

    csv_file_path = 'output_file.csv'

    # Write the rows to the CSV file
    with open(csv_file_path, 'w', newline='') as csvfile:
        csv_writer = csv.writer(csvfile)
        # Write the data rows
        csv_writer.writerows(rows)
    print('Storing data for year: ' + str(year))
    cur.execute(f"LOAD DATA LOCAL INFILE '" + csv_file_path + "' INTO TABLE `prices_coordinates_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';")
    conn.commit()
    print('Data stored for year: ' + str(year))


--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__init__.py ---

from . import access
from . import assess


--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/config.py ---

import os
import yaml

default_file = os.path.join(os.path.dirname(__file__), "defaults.yml")
local_file = os.path.abspath(os.path.join(os.path.dirname(__file__), "machine.yml"))
user_file = '_config.yml'

config = {}

if os.path.exists(default_file):
    with open(default_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(local_file):
    with open(local_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(user_file):
    with open(user_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if config=={}:
    raise ValueError(
        "No configuration file found at either "
        + user_file
        + " or "
        + local_file
        + " or "
        + default_file
        + "."
    )

for key, item in config.items():
    if item is str:
        config[key] = os.path.expandvars(item)


--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/defaults.yml ---

# Place config informatio you want everyone to have here.
data_url: https://raw.githubusercontent.com/lawrennd/datasets_mirror/main/


--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/__init__.cpython-310.pyc ---

Could not read /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/__init__.cpython-310.pyc: 'utf-8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/config.cpython-310.pyc ---

Could not read /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/config.cpython-310.pyc: 'utf-8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/assess.cpython-310.pyc ---

Could not read /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/assess.cpython-310.pyc: 'utf-8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/access.cpython-310.pyc ---

Could not read /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/access.cpython-310.pyc: 'utf-8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

--------------------------------------------------

--- Contents of /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/address.cpython-310.pyc ---

Could not read /usr/local/lib/python3.10/dist-packages/fynesse/__pycache__/address.cpython-310.pyc: 'utf-8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

--------------------------------------------------